/* font abel */
@font-face {
  font-family: Abel;
  src: url(../fonts/Abel/Abel-Regular.ttf);
}
/* font anton */
@font-face {
  font-family: Anton;
  src: url(../fonts/Anton/Anton-Regular.ttf);
}
/* font Josefin */
@font-face {
  font-family: Josefin;
  src: url(../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}
/* font Lexend */
@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
/* font Livvic */
@font-face {
  font-family: Livvic;
  src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
